<ion-view view-title="The Kuramo Report">
  <ion-content>
    <div ng-if="loading" style="padding-top: 10%;">
        <p class="text-center">
            <ion-spinner class="android featured-spinner"></ion-spinner>
        </p>
    </div>
    <div class="featured-card" ng-show="!loading" hover-tracker>
        <div ng-click="open(item)">
            <div class="featured-card-banner">
                <a href="#" slides-control="previous" handle="featured-slides" class="slider-controls slide-left">
                    <i class="icon ion-chevron-left"></i>
                </a>
                <a href="#"  slides-control="next" handle="featured-slides" class="slider-controls slide-right">
                    <i class="icon ion-chevron-right"></i>
                </a>
                <ion-slide-box  magazine-cover-book does-continue="'true'" auto-play="'true'" show-pager="false" delegate-handle="featured-slides">
                    <ion-slide ng-repeat="entry in item.entries | limitTo:4"  class="entry-slide" magazine-cover="entry" on-error-background="img/dtn-tw-128.png">
                        <div class="film-layer padding">
                            <h1>
                                <a href="#" class="text-center" ng-click="openEntry(entry, item, $event)"  ng-bind-html="::entry.title">

                                </a>
                            </h1>
                            <p ng-bind-html="::(entry.contentSnippet | cleanContent)"></p>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>

            <div class="row responsive-sm row-bottom">
                <div class="col col-50">
                    <ul class="others">
                        <li ng-repeat="otherFeature in item.featured.others | limitTo:featuredSectionLength">
                            <a href="#" ng-click="openEntry(otherFeature, item, $event)" >{{::otherFeature.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-50 text-right">
                    <ul class="others">
                        <li ng-click="openEntry(otherFeature, item, $event)" ng-repeat="otherFeature in item.featured.others | limitTo:remainingFeaturedSectionLength">
                            <a href="#" ng-click="openEntry(otherFeature, item, $event)" >{{::otherFeature.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
