<ion-view view-title="{{title || ''}}">
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="app">
        <i class="icon ion-android-home"></i>
      </button>
      <button class="button" ng-click="share()">
        <i class="icon ion-android-share-alt"></i>
      </button>
      <button class="button" ng-click="openInBrowser(entry.link)">
        <i class="icon ion-earth"></i>
      </button>
    </ion-nav-buttons>
    <!--on-drag="disableScrolling()" on-release="tryEnableScrolling()"-->
  <ion-content class="padding">
    <div ng-if="loading" class="text-center" style="padding-top: 10%;">
        <p><ion-spinner icon="spiral"></ion-spinner></p>
    </div>
    <div ng-show="!loading" hover-tracker="dark">
        <section class="entry-article" ng-show="entry !== undefined" on-swipe-left="showNextArticle(1)"  on-swipe-right="showNextArticle(-1)">
            <header>
                <div class="text-center entry-image-wrapper">
                    <img entry-image="entry" class="entry-picture" placeholder="img/dtn-tw-128.png" on-error-src="img/dtn-tw-128.png" />
                </div>
                <h3 ng-bind-html="::entry.title"></h3>
                <!-- <span class="date">{{::entry.publishedDate | toDate | date:'dd.MM.yyyy'}}</span>
                <span ng-if="entry.author" >
                    <br />
                    By <u>{{::entry.author}}</u>
                </span> -->
            </header>
            <div class="article-content">
                <div bind-html-remove-og-img="::entry.content">

                </div>
                <p>&nbsp;</p>
                <p class="tags text-center" ng-if="entry.categories.length>0">
                    <b>Tags:</b>
                    <span class="tag" ng-repeat="cat in entry.categories track by $index">
                        {{::cat}}
                    </span>
                </p>
                <p class="text-center">
                    <a href="#" ng-click="openInBrowser(entry.link)">
                        View In Browser
                    </a>
                </p>
            </div>
        </section>
    </div>
  </ion-content>
</ion-view>
