<ion-view view-title="{{title || 'Daily Times Nigeria'}}">
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="app">
        <i class="icon ion-android-home"></i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <div ng-if="loading" style="padding-top: 10%;">
        <p class="text-center">
            <ion-spinner class="android featured-spinner"></ion-spinner>
        </p>
    </div>

    <div ng-show="!loading && items.length>0">
        <div class="top-entry" ng-click="details(items[0])" entry-background="items[0]" show-placeholder="false">
            <div class="top-entry-content row">
                <div class="col col-10">
                    <img class="logo" src="img/dtn-tw-128.png" alt="Daily Times Nigeria" />
                </div>
                <div class="col col-90 padding">
                    <h1 class="title" ng-bind-html="::items[0].title"></h1>
                    <p ng-bind-html="::items[0].contentSnippet"></p>
                </div>
            </div>
        </div>
        <div ng-show="items.length>1" class="list">
            <a href="#" ng-click="details(item)" class="item item-text-wrap item-thumbnail-left" ng-repeat="item in getItems(1)">
                <img entry-image="item" />
                <b>{{::item.title}}</b>
                <p ng-bind-html="::item.contentSnippet">
                </p>
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
