<div class="list" ng-show="items.length > 0">
    <a class="item item-thumbnail-left item-text-wrap" href="#" ng-click="details(item, $index)" ng-repeat="item in items">
        <img entry-image="item" data-index="{{::$index}}" />
        <b ng-bind-html="::item.title"></b>
        <!-- <span class="date">{{::item.publishedDate | toDate | date:'dd.mm.yy'}}</span> -->
        <p ng-bind-html="::item.contentSnippet"></p>
    </a>
</div>
<p ng-if="items.length===0" class="text-center">
    <em>
    There are no enteries found under {{::source.name}}</em>
</p>
