<div class="list" ng-show="items.length > 0">
    <a class="item item-text-wrap clearfix" href="#" ng-click="details(item, $index)" ng-repeat="item in items">
        <b ng-bind-html="::item.title"></b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="date">{{::item.publishedDate | toDate | date:'dd.mm.yy'}}</span>
        <p ng-bind-html="::item.contentSnippet"></p>
    </a>
</div>
<p ng-if="items.length===0" class="text-center">
    <em>
    There are no enteries found under {{::source.name}}</em>
</p>
