<ion-view view-title="{{title || 'Daily Times Nigeria'}}">
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="app">
        <i class="icon ion-android-home"></i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <div ng-if="loading" style="padding-top: 10%;">
        <p class="text-center">
            <ion-spinner class="android featured-spinner"></ion-spinner>
        </p>
    </div>

    <div ng-show="!loading && items.length>0">

        <div class="top-entry card list" ng-click="details(items[0])">
            <div class="item item-image">
                <img entry-image="items[0]" on-error-src="img/dtn-tw-128.png" placeholder="img/dtn-tw-128.png" />
            </div>
            <div class="item item-text-wrap item-wrap-text">
                <h1 class="title" ng-bind-html="::items[0].title"></h1>
                <p ng-bind-html="::(items[0].contentSnippet | cleanContent)"></p>
            </div>
        </div>
        <div ng-show="items.length>1" class="list">
            <a href="#" ng-click="details(item)" class="item item-text-wrap item-thumbnail-left" ng-repeat="item in getItems(1)">
                <img entry-image="item"  on-error-src="img/dtn-tw-128.png" />
                <b>{{::item.title}}</b>
                <p ng-bind-html="::(item.contentSnippet | cleanContent)">
                </p>
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
