/* Empty. Add your own CSS if you like */
.text-center {
    text-align: center;
}

.top-entry .item-image {
    max-height: 200px;
    overflow: hidden;
}
.spinner.featured-spinner svg {
    width: 64px;
    height: 64px;
}

.bar-header {
    background-repeat: no-repeat !important;
    background-position: 30px 0 !important;
    background-image: url('../img/logo_cropped.png') !important;
    background-size: contain !important;
}

.bar-header .title {
    visibility: hidden;
}

.bar-header button.back-button .back-text {
    display: none;
}


.featured-card {
    font-size: 120%;
    background-color: #e0e0e0;

    background-repeat: no-repeat;
    background-position: left top;
    background-clip: content-clip;
    background-size: cover;
    height: 100%;
}

.film-layer {
    background-repeat: repeat;
    background-position: left top;
    background-image: url('../img/fadebg_ex.png');
    width: 100%;
    padding-bottom: 100px;
}

.featured-card .entry-slide {
    padding: 0;
    backround-color: #606060;
    background-position: 0px 0px;
    background-size: cover;
    color: white;
    min-height: 300px;
    text-shadow: 1px 2px 1px rgba(10, 11, 22, 1.0);
}

.featured-card .entry-slide a {
    color : white !important;
}
.featured-card .entry-slide p {
    /*text-shadow: 1px 2px 1px rgba(255, 255, 255, 1.0);*/
    font-size: 1.1em;
}
/*
.featured-card .title a {
    color: #ED3237 !important;
}*/

.featured-card .featured-others {
    position: relative;
    margin-top: auto;
    margin-bottom: 10px;
}

.featured-card .logo {
    display: block;
}

.img-responsive {
    width: 100%;
}

.featured-card .banner-row {
    background-color: #F8E000;
    color: black;
}

.featured-card .banner-row a {
    color: #222222 !important;
}


.featured-card  a {
    color: #222222 !important;
    text-decoration: none;
}

.featured-card .others > li {
    padding-top: 6px;
    padding-bottom: 15px;
}


.pull-right {
    float: right;
}

.pull-right:after {
    clear: both;
}

@-webkit-keyframes MESSAGE-TOAST-ANIMATION {
  0%   { opacity: 1; }
  50% { opacity: 0; }
  100%   { opacity: 1; }
}
@-moz-keyframes MESSAGE-TOAST-ANIMATION {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}
@-o-keyframes MESSAGE-TOAST-ANIMATION {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes MESSAGE-TOAST-ANIMATION {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

.message-toast {
    position: fixed;
    z-index: 400;
    left: auto;
    right: 2%;
    top: 30%;
    background-color: #ED3237;

   -webkit-animation: MESSAGE-TOAST-ANIMATION 2s ease-in 1s infinite normal; /* Safari 4+ */
   -moz-animation:    MESSAGE-TOAST-ANIMATION 2s ease-in 1s infinite normal; /* Fx 5+ */
   -o-animation:      MESSAGE-TOAST-ANIMATION 2s ease-in 1s infinite normal; /* Opera 12+ */
    animation:         MESSAGE-TOAST-ANIMATION 2s ease-in 1s infinite normal; /* IE 10+, Fx 29+ */

    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.51);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.51);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.51);
}

.message-toast > .message-toast-content {
    padding: 5px 10px;
    text-align: center;
}

img.entry-picture {
    max-width: 100%;
    max-height: auto;
}

.logo {
    max-width: 30%;
    max-height: 30%;
    min-width: 64px;
    min-height: 64px;
}

.top-entry {
    /*background-color: #ED3237;*/
    background-color: rgb(100, 100, 100);
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.top-entry.loading {
    background-position: 10px 10px;
}

.top-entry > .top-entry-content {
    /*padding-top: 60px;*/
    /*background-image: url("../img/dtn-tw-128.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;*/
}
.top-entry.loaded {
    background-position: 0px 0px;
    background-size: cover;
    color: black;
    text-shadow: 1px 5px 3px rgba(255, 255, 255, 1.0);
}

.top-entry.loaded .title {
    color: black;
    text-shadow: 1px 5px 3px rgba(255, 255, 255, 1.0);
}

.hidden {
    display: none;
}

.entry-article {
    margin-top: 5px;
    margin-bottom: 20px;
}
.entry-article .article-content a, .entry-article  .article-content a:visited {
    color: #a08060 !important;
    text-decoration: none;
}

.entry-article  .article-content a:hover {
    color: #a0a080 !important;
}

.clearfix : {
    clear: both;
    display: block;
}

.tags {
    line-height: 300%;
}
.tags .tag {
    border: 1px inset gray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ie-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}

.featured-card .others {
    color: #202000;
    font-weight: bolder;
    /*text-shadow: 0px 2px 3px rgba(10, 8, 20, 1.0);*/
}

.pegged {
    position: absolute;
    top: 20%;
    right: 10px;
    font-size: 0.9em;
    font-style: italic;
}

.pegged.pegged-light {
    color: white;

}

.pegged.pegged-dark {
    color: black;
    top: 10%;
}

.featured-card .featured-card-banner {


    /*padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;*/
    /*-image: url('../img/dtn-tw-128.png');
    background-position: left right;
    background-repeat: no-repeat;*/
}


.featured-card .featured-card-banner .slider-controls {
    position: absolute;
    top: 30%;
    z-index: 15;
    color: white !important;
    font-size: 1.9em;
}


.featured-card  .slider-controls.slide-left {
    left: 20px;
}

.featured-card  .slider-controls.slide-right {
    right: 20px;
}


.featured-card .slide-box-container

.entry-image-wrapper .spinner svg {
    width: 128px;
    height: 128px;
}

.spinner.loader {
    border: 2px solid red;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.tags .tag:not(:first-child) {
    margin-left: 4px;
}

.box {
        width: 100%;
        height: 100%;
        color: #fff;
}
/*.box h1 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -50px;
        color: #fff;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
}*/
